<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.css">
  
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <!-- Jquery reference -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--This function calls the header and footer-->
    <script> 
        $(function(){
            $("#header").load("header.html"); 
            $("#footer").load("footer.html"); 
        });

    </script> 

  </head>

  <body>
    
    <!--jquery loads the header to this id-->
    <div id="header"></div>

      <div class="container">

        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Stock Market Data</h1>
            <p>Use the interactive charts below to explore the dataset</p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-2">

            <div class="well">
              <h5>Choose Stock:</h5>
              <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h5 class="panel-title" style="color:aqua">Stock Data</h5>
              </div>
              <div id="sample-metadata" class="panel-body"></div>
            </div>
            
           </div>

          <div class="col-md-5">
            <div id="bar"></div>
          </div>

         
          <div class="col-md-5">
            <div id="gauge"></div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div id="bubble"></div>
            </div>
          </div>

      </div>
    
        
    <!--jquery loads the footer to this id-->
    <div id="footer"></div>
      
    </div>



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/appchanged.js"></script>
  


  </body>
</html>
