<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Our Method</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.css">
  
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <!-- Jquery reference -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--This function calls the header and footer-->
    <script> 
        $(function(){
            $("#header").load("header.html"); 
            $("#footer").load("footer.html"); 
        });

    </script> 

  </head>

  <body>
    
    <!--jquery loads the header to this id-->
    <div id="header"></div>

      <div class="container">

        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
              <h1>How we got results:</h1>
              <p class="lead">Methodology</p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
             
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Data in Use for Modeling and Analysis</div>
                    <div class="card-body">
                        <p class="card-text">
                        <ul>
                            <li>
                                <a href=""
                                    target="_blank">Alphavantage API</a><br/>Stock Market Information<br>
                            </li>
                            
                            
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
         </div class="row">   

         <div class="row">
          <div class="col-md-12">
              <div class="card text-dark bg-light mb-3">
                  <div class="card-header">Transform Steps</div>
                  <div class="card-body">
                      <p class="card-text">
                      <ul>
                          <li>
                              <a href=""
                                  target="_blank">Jupter Notebooks listed</a><br/>gives steps to transform data and note whether <br/>
                                  steps are used for charts or real time data processing<br>
                          </li>
                                          
                      </ul>
                      </p>
                  </div>
              </div>
          </div>
        </div class="row">

        <div class="row">
          <div class="col-md-12">
              <div class="card text-dark bg-light mb-3">
                  <div class="card-header">Data Repositories</div>
                  <div class="card-body">
                      <p class="card-text">
                      <ul>
                          <li>
                              <a href=""
                                  target="_blank">Mongo DB</a><br/>Database; Collections<br>
                          </li>
                          <li>
                            <a href=""
                            target="_blank">Mongo DB</a><br/>Database; Collections<br>
                          </li>
                          <li>
                             JSON files in use
                          </li>
                          <li>
                              CSV files in use
                          </li>
                      
                          
                      </ul>
                      </p>
                  </div>
              </div>
          </div>
        </div class="row">
       
        <div class="row">
          <div class="col-md-12">
              <div class="card text-dark bg-light mb-3">
                  <div class="card-header">Data Exploration</div>
                  <div class="card-body">
                      <p class="card-text">
                      <ul>
                          <li>
                              Note the chart - where it's used 
                          </li>
                          
                          <li>
                              
                          </li>
                          
                      </ul>
                      </p>
                  </div>
              </div>
          </div>
        </div class="row">

        <div class="row">
          <div class="col-md-12">
              <div class="card text-dark bg-light mb-3">
                  <div class="card-header">Technical Analyses</div>
                  <div class="card-body">
                      <p class="card-text">
                      <ul>
                          <li>
                              RSI
                          </li>
                          <li>
                            Stochastic RSI
                          </li>
                          <li>
                            MACD
                          </li>
                          <li>
                              Modeling for Velocity of Change by volume or price
                          </li>
                          <li>
                              
                          </li>
                          
                      </ul>
                      </p>
                  </div>
              </div>
          </div>
        
        </div class="row">
        
    <!--jquery loads the footer to this id-->
    <div id="footer"></div>
      
    </div>



    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="./static/js/appchanged.js"></script>
  


  </body>
</html>
