</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/5/spacelab/bootstrap.css">  
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/prismjs/themes/prism-okaidia.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function(){
            $("#banner2").hide();
        });
        $(document).ready(function(){

            $("#Team").click(function(){
                $("#banner2").slideToggle(2000);
            });
        });
    </script>

  </head>
  <body>
    <footer id="footer">

        <div class="container">
            <div class = "jumbotron">
                <button id = "Team">Team</button>
             </div>
        </div>
       <div class="container">
      <div class="page-footer" id="banner2">
        <div class="row">

          <div class="col-md-3 col-xs-12">
            <div class="card border-light">

                <h3 style="color:blue">Rupesh Patel</h3>
                <p class='aboutus'>
                  <a href="#" target="_blank"><img
                    src=""></a>
            <a href="https://www.linkedin.com/in/rupesh-patel-mba-70152526/" target="_blank"><img
                    src=""></a>
            <a href="" target="_blank"><img src=""></a>
                </p>
            </div>
          </div>


          <div class="col-md-3 col-xs-12">
            <div class="card border-light">

                <h3 style="color:cornflowerblue">John McIntyre</h3>
                <p class='aboutus'>
                  <a href="#" target="_blank"><img
                    src=""></a>
            <a href="https://www.linkedin.com/in/rupesh-patel-mba-70152526/" target="_blank"><img
                    src=""></a>
            <a href="" target="_blank"><img src=""></a>
                </p>
            </div>
          </div>




          <div class="col-md-3 col-xs-12">
            <div class="card border-light">

                <h3 style="color:darkcyan">Norman Robinson</h3>
                <p class='aboutus'>
                    <a href="#" target="_blank"><img
                            src=""></a>
                    <a href="https://www.linkedin.com/in/rupesh-patel-mba-70152526/" target="_blank"><img
                            src=""></a>
                    <a href="" target="_blank"><img src=""></a>
                </p>
            </div>
          </div>




          <div class="col-md-3 col-xs-12">
            <div class="card border-light">

                <h3 style="color:darksalmon">Eve Barkley</h3>
                <p class='aboutus'>
                    <a href="#" target="_blank"><img
                            src=""></a>
                    <a href="https://www.linkedin.com/in/rupesh-patel-mba-70152526/" target="_blank"><img
                            src=""></a>
                    <a href="" target="_blank"><img src=""></a>
                </p>
            </div>
          </div>

      </div>


    </div>
    <br></br>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="float-end"><a href="#top">Back to top</a></li>

              <li><a href="https://twitter.com/bootswatch">Bootswatch Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch">Bootstrap GitHub</a></li>
              <li><a href="/">API-Home</a></li>

            </ul>
            <p style ="color:red">All information listed is for Educational Purposes Only</p>
            <p>&copy; <a>COPYRIGHT UNC BOOT CAMP 2021</a> &copy;.</p>
            <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
            <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

          </div>
        </div>
    </footer>


  </body>

  </html>
