<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Document</title>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        
        <link rel="stylesheet" href="style.css">
    
    </head>
    
    <body>
        <div>
            <select name="data" id="selTable" onchange="optionChanged(this.value)">
                <option value="">Select One</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="New York">New York</option>
                <option value="Raleigh">Raleigh</option>
            </select>
        </div>
        <p></p>
        <div>
            <table id="resultTable" border=1>
                <tbody></tbody>
            </table>
        </div>
        <p></p>
        <p></p>
        
        <canvas id="doughnut-chart" width="300" height="150"></canvas>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <script src="https://d3js.org/d3.v6.min.js"></script>
        
        <script src="../static/js/presentation.js"></script>
    
    </body>
    
    </html>